@CHARSET "ISO-8859-1";
.mt-row{
	margin-top:10px;
}
.container{
	margin: 10% 30% 10% 30%;
	height:100%;
	width:100%;
}
@media screen and (max-width: 1000px) {
      .container {
         width: 100%;
         overflow-y: visible;
         
      }
}
.center{
	margin: 10% 10% 2% 10%;
}
.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}